<router-outlet></router-outlet>
<h1>My Awesome List</h1>
<table class="table table-bordered ">
  <thead class="thead-dark">


  <tr>
    <th scope="col">Tag</th>
    <th scope="col">URL</th>
    <th scope="col">Description</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tr *ngFor="let awesome of awesomeList">
    <td>{{ awesome.tag}}</td>
    <td>{{ awesome.url}}</td>
    <td>{{ awesome.descriptions}}</td>
    <td><a [routerLink]="['edit',awesome.id]">Edit</a></td>
    <td><a [routerLink]="['delete',awesome.id]">Delete</a></td>
  </tr>
</table>

